<table class="table">
  <thead>
  <tr>
    <th scope="col">Display name</th>
    <th scope="col">email</th>
    <th scope="col">Phone</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let contact of $contacts | async">
    <tr>
      <td>{{ contact.displayName }}</td>
      <td>{{ contact.email }}</td>
      <td>{{ contact.phoneNumber }}</td>
    </tr>
  </ng-container>
  </tbody>
</table>
<div>
  <button (click)="importContacts()">Import Contacts</button>
  <button (click)="revokePermissions()">Revoke</button>
</div>
