<div class="button-group">
  <button (click)="importContacts()">Import Contacts</button>
  <button [disabled]="noSelectedContacts() | async" (click)="addContacts()">Commit Contacts</button>
  <button (click)="revokePermissions()">Revoke</button>
  <app-table-pager
    [length]="totalItems"
    [pageIndex]="pageOptions.page || 0"
    [pageSize]="pageOptions.size || 10"
    [pageSizeOptions]="pageSizeOptions"
    (onPageSelect)="onPageSelect($event)"
  ></app-table-pager>

</div>
<table class="table table-hover table-sm">
  <thead class="thead-dark">
  <tr>
    <th scope="col">First name</th>
    <th scope="col">Last name</th>
    <th scope="col">email</th>
    <th scope="col">Phone</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let contact of contacts$ | async; let i = index" [class.table-success]="contact.selected"
      (click)="toggleSelected(i)">
    <td>{{ contact.firstName }}</td>
    <td>{{ contact.lastName }}</td>
    <td>{{ primaryEmail(contact) }}</td>
    <td>{{ primaryPhoneNumber(contact) }}</td>
    <td>
      <div class="icon-container">
        <i class="fa-solid fa-trash" (click)="removeContact(i)"></i>
        <i *ngIf="contact.selected" class="fa-solid fa-check" (click)="selectContact(i)"></i>
      </div>
    </td>
  </tr>
  </tbody>
</table>
