<table class="table">
  <thead>
  <tr>
    <th scope="col">First name</th>
    <th scope="col">Last name</th>
    <th scope="col">Nickname</th>
    <th scope="col">Phone</th>
    <th scope="col">e-mail</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let contact of dataSource.data$ | async">
    <tr (click)="selectContact(contact)">
      <td>{{ contact.firstName }}</td>
      <td>{{ contact.lastName }}</td>
      <td>{{ contact.nickname }}</td>
      <td>{{ contact.phone }}</td>
      <td>{{ contact.email }}</td>
    </tr>
  </ng-container>
  </tbody>
</table>
<div>
  <app-table-pager
    [length]="dataSource.totalItems"
    [pageIndex]="dataSource.page || 0"
    [pageSize]="dataSource.size || 10"
    [pageSizeOptions]="pageSizeOptions"
    (onPageSelect)="dataSource.onPageSelect($event)"
  ></app-table-pager>
</div>
